* {
    margin: 0;
    padding: 0;
    letter-spacing: 0;
    font-family: sans-serif;
}

body {
    background: #ffffff;
    padding-top: 60px; 
}

#allPage {
    width: 90%;
    margin: auto;
}

#allPage h1{
    font-size: 50px;
    margin: 20px 0;
    text-align: center;
}

p {
    font-size: 20px;
    line-height: 27px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

#headerPage {
    background: #3ca8b6;
    position: fixed;
    display: block;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    padding: 7px;
    box-shadow: 0 10px 80px 5px #030303;
}

#principalH1 {
    float: left;
    font-size: 30px;
    padding: 0 20px;
    font-weight: bold;
    color: #22282c;
    line-height: 60px;  
}

.navi ul {
    float: right;
}

.navi ul li {
    float: left;
    padding: 20px 35px 20px 10px;
    margin: 5px;
    font-size: 21px;
}

.navi ul li a {
    color: #22282c;
    transition: all 300ms;
}

.navi ul li a:hover {
    color: #ffffff;
}

#principalImg img {
    --ancho : 74%;
    --alto : 74%;
    float: left;
    width: var(--ancho);
    height: var(--alto);
    border-radius: 0 0 100% 0;
    /* shape-outside: ellipse(var(--ancho) var(--alto) at 1920px 0); */
}

#information {
    float: left;
    font-size: 50px;
    padding: 30px 20px;
}

#tipiaSection {
    display: inline-block;
}

#contentTipiaSection img {
    float: left;
    width: 300px;
    margin: 0 30px 0 0;
}

#contentTipiaSection p {
    display: inline;
}

.howTo p{
    text-align: center;
}

#addbutton {
    flex-direction: row;
    justify-content: center;
    width: 400px;
    height: 50px;
    margin: 4% 33%;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    background: linear-gradient(50deg, #095854, #3ca8b6);
}

#homeworks input[type="chechbox"], #homeworks input[type="text"], #homeworks input[type="button"]{
    margin: auto;
}

#contactSection p {
    margin-bottom: 50px;
}

#footerSection {
    width: 100%;
    background: #095854;
}

#footerSection a {
    text-decoration: none;
    color: white;
}

#principalFooter ul {
    text-align: center;
    padding: 15px;
}

#principalFooter ul li {
    display: inline;
    font-size: 30px;
    margin: 0 50px;
}

#secondaryFooter p{
    text-align: center;
}