/*--------- GENERAL STYLES ---------*/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*-------------------------------*/

/*--------- GENERAL TAG STYLES ---------*/

section {
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    background-color: #f8f6f6;
    border-radius: 50px;
    padding: 25px;
}

body {
    background-color: #ffffff;
    margin-top: 50px;
}

h1 {
    letter-spacing: 2px;
    font-size: 50px;
    margin: 20px;
    text-align: center;
}

p {
    font-size: 20px;
    padding: 20px;
}

/*-------------------------------*/

/*--------- HEADER ---------*/

.head {
    overflow: hidden;
    box-sizing: border-box;
    background-color: #f8f6f6;
    position: fixed;
    padding: 12px;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px;
}

.head h1 {
    font-size: 40px;
    font-weight: bold;
    float: left;
    letter-spacing: 2px;
    color: black;
    margin: 0 15px;
}

/*-------------------------------*/

/*--------- CONTAINER, WHERE ALL IS HERE ---------*/

.container {
    padding: 20px;
    width: 90%;
    margin: auto;
    /* background: #fafafa; */
    box-sizing: border-box;
    overflow: hidden;
}

/*-------------------------------*/

/*--------- IMAGE ---------*/

.presentation img {
    width: 42%;
    border-radius: 2000px;
    box-shadow: 5px 5px 40px 5px #000000;
}

/*-------------------------------*/

/*--------- APPLICATION STYLES (INPUTS) ---------*/


/*---- ADDBUTTON STYLES ----*/

.application input[id="addbutton"]{
    text-align: center;
    background-color: #444444; 
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 20px;
    color:white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 50px;
    border: none;
    transition: all 300ms;
}

.application input[id="addbutton"]:hover {
    transform: translateY(-10px);
    box-shadow: 5px 5px 20px 2px #000000;
}

/*---- HOMEWORKS STYLES  ----*/

.application div {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    display: inline;
}

.application div input[type="checkbox"] {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.application div input[type="text"]{
    width: 30%;
    height: 40px;
    margin-bottom: 40px;
    margin-right: 5px;
    border: none;
    font-size: 20px;
    
}

.application div input[type="button"]{
    width: 35px;
    height: 35px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    color: white;
    background-color: #444444;
    transition: all 300ms;
    box-sizing: border-box;
}

.application div input[type="button"]:hover {
    transform: translateY(-5px);
    box-shadow: 3px 3px 15px 2px #000000;
}
/*-------------------------------*/

/*--------- FOOT DESIGN ---------*/

.foot {
    width: 100%;
    background: #000000;
    padding-bottom: 0;
    color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.foot ul {
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 10px;
}

.foot ul li {
    display: inline;
    font-size: 20px;
    margin: 0 20px;
}

.foot ul li a {
    text-decoration: none;
    color: white;
}

.foot p {
    text-align: center;
}

.foot p a {
    text-decoration: none;
    color: white;
}

.foot ul li a i {
    margin: 0 10px;
}

/*-------------------------------*/

/*--------- MEDIA QUERIES  ---------*/

@media screen and (max-width: 800px){
    .application div input[type="checkbox"] {
        width: 40px;
        height: 40px;
    }
    
    .application div input[type="text"]{
        width: 70%;
        height: 70px;
    }
}

@media screen and (max-width: 700px){
    .application input[id="addbutton"]{
        width: 60%;
    }
}

@media screen and (max-width: 450px){
    .container {
        padding: 0;
        width: 100%;
        margin: auto;
        /* background: #fafafa; */
        box-sizing: border-box;
        overflow: hidden;
    }

    section {
        margin: 10px 0;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        background-color: #f8f6f6;
        border-radius: 0;
        padding: 25px;
    }
}

@media screen and (max-width: 333px){
    .application input[id="addbutton"]{
        width: 100%;
    }

    .application div input[type="checkbox"] {
        display: block;
        width: 20px;
        height: 20px;
        margin: 5px auto;
    }
    
    .application div input[type="text"]{
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 0;
        margin: 5px auto;
    }
    
    .application div input[type="button"]{
        display: block;
        width: 25px;
        height: 25px;
        margin: 5px auto;
    }
    
    .application div input[type="button"]:hover {
        transform: translateY(-5px);
        box-shadow: 3px 3px 15px 2px #000000;
    }
}